[submodule "cubiomes"]
	path = cubiomes
	url = https://github.com?Sife-ops/cubiomes.git
	branch = experimental
[submodule "go-mc"]
	path = go-mc
	url = https://github.com/Sife-ops/go-mc.git
	branch = experimental
